@import "@fontsource/inter/300.css";
@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/600.css";
@import "@fontsource/inter/700.css";
@import "@fontsource/inter/800.css";

:root {
    --bg-color: #ccd8f3;
    --story-field-color: #FFF;
    --connect-color: #4CAF50;
    --disconnect-color: #7d808b;
    --title-color: #202b54;
    --bright-text-color: #f2eefa;
    --text-color: #000;
    --ai-text-color: #9f2e5d;
}

html,
body {
    background-color: var(--bg-color);
    scroll-behavior: smooth;
    font-size: 16px;
    font-family: "inter", sans-serif;
    line-height: 1.3;
    color: var(--text-color);
}