@import "@fontsource/inter/300.css";
@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/600.css";
@import "@fontsource/inter/700.css";
@import "@fontsource/inter/800.css";

:root {
    --bg-color: #ccd8f3;
    --connect-color: #4CAF50;
    --title-color: #202b54;
    --bright-text: #f2eefa;
    --border: #bdcdef;
}

html,
body {
    background-color: var(--bg-color);
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    font-family: "inter", sans-serif;
    line-height: 1.3;
}


